{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <h1 class="text-center">{{ _('Faça sua inscrição no Dados Livres') }}</h1>
    <p class="text-center">{{ _('Inscreva-se no Dados Livres e ajude a colaborar com
      diversas fontes e aplicações em dados abertos.') }}</p><br><br>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {{ wtf.quick_form(form) }}
        </div>
        <div class="col-md-3"></div>
      </div><br><br>
    <p class="text-center"><a href="{{ url_for('auth.login') }}" id="color-red">
      {{ _('Já tem uma conta? Entre.')}}</a></p>
{% endblock %}
