{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<h1 class="text-center">{{ _('Cinema - Aplicações') }}</h1><br>
<h4 class="text-center">Não encontrou a aplicação que procurava ou ainda
  não existe nenhuma aplicação cadastrada nesta categoria?
  <a href="{{ url_for('main.register_software') }}" target="_blank" id="color-red">
    Cadastre agora clicando aqui!</a></h4><br><br>
<div class="row">
  <div class="col-md-12">
    {% for software in softwares %}
      <hr>{% include '_software.html' %}<hr><br>
    {% endfor%}
  </div>
</div>
{% endblock %}
