{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row">
  <div class="col-md-12 text-justify">
    <h1 class="text-center">{{_('Sobre')}}</h1><br><br>
    <p>É com muita satisfação e carinho que o Dados Livres foi lançado,
      no dia 1 de novembro de 2019, em versão BETA.</p> <br>
    <p>* Sugira melhorias para o projeto na <a href="{{ url_for('main.contact') }}"
      id="color-red" target="_blank">página de contato</a> ou no
      <a href="https://t.me/dadoslivres" id="color-red" target="_blank">
      grupo do Telegram</a>.</p>
    <p>* Confira a página de <a href="{{ url_for('main.how_to_contribute') }}"
      id="color-red" target="_blank">como contribuir com o projeto</a>.</p><br>
    <h3>Dados Livres: plataforma livre de dados abertos</h3><br><br>
    <p>A ideia de desenvolver a plataforma (Dados Livres) surgiu em 2018,
      quando foi identificado a importância de visualizar informações e
      tecnologias que usam os dados abertos. O Dados Livres é uma plataforma
      livre que permite a catalogação de fontes de dados abertos e aplicações
      cívicas por meio de colaboração coletiva. O projeto é mantido pela
      estudante e pesquisadora Carolina Soares, orientado pelo Prof. Me.
      Pedro Baesse e originalmente desenvolvido no IFRN - campus Ceará-Mirim.</p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-sm-6 col-md-4">
      <div style="width:350px; display: block; margin: 0 auto; border: 0; text-align: center">
        <figure><br>
          <img src="static/image/carolinasoares.jpg" alt="Imagem de Carolina Soares" style="width:50%; border-radius: 100px"><br><br>
          <figcaption>Carolina Soares <br><br>
          <a href="https://github.com/mariacarolinass/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="2em" height="2em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 250"><path d="M128.001 0C57.317 0 0 57.307 0 128.001c0 56.554 36.676 104.535 87.535 121.46c6.397 1.185 8.746-2.777 8.746-6.158c0-3.052-.12-13.135-.174-23.83c-35.61 7.742-43.124-15.103-43.124-15.103c-5.823-14.795-14.213-18.73-14.213-18.73c-11.613-7.944.876-7.78.876-7.78c12.853.902 19.621 13.19 19.621 13.19c11.417 19.568 29.945 13.911 37.249 10.64c1.149-8.272 4.466-13.92 8.127-17.116c-28.431-3.236-58.318-14.212-58.318-63.258c0-13.975 5-25.394 13.188-34.358c-1.329-3.224-5.71-16.242 1.24-33.874c0 0 10.749-3.44 35.21 13.121c10.21-2.836 21.16-4.258 32.038-4.307c10.878.049 21.837 1.47 32.066 4.307c24.431-16.56 35.165-13.12 35.165-13.12c6.967 17.63 2.584 30.65 1.255 33.873c8.207 8.964 13.173 20.383 13.173 34.358c0 49.163-29.944 59.988-58.447 63.157c4.591 3.972 8.682 11.762 8.682 23.704c0 17.126-.148 30.91-.148 35.126c0 3.407 2.304 7.398 8.792 6.14C219.37 232.5 256 184.537 256 128.002C256 57.307 198.691 0 128.001 0zm-80.06 182.34c-.282.636-1.283.827-2.194.39c-.929-.417-1.45-1.284-1.15-1.922c.276-.655 1.279-.838 2.205-.399c.93.418 1.46 1.293 1.139 1.931zm6.296 5.618c-.61.566-1.804.303-2.614-.591c-.837-.892-.994-2.086-.375-2.66c.63-.566 1.787-.301 2.626.591c.838.903 1 2.088.363 2.66zm4.32 7.188c-.785.545-2.067.034-2.86-1.104c-.784-1.138-.784-2.503.017-3.05c.795-.547 2.058-.055 2.861 1.075c.782 1.157.782 2.522-.019 3.08zm7.304 8.325c-.701.774-2.196.566-3.29-.49c-1.119-1.032-1.43-2.496-.726-3.27c.71-.776 2.213-.558 3.315.49c1.11 1.03 1.45 2.505.701 3.27zm9.442 2.81c-.31 1.003-1.75 1.459-3.199 1.033c-1.448-.439-2.395-1.613-2.103-2.626c.301-1.01 1.747-1.484 3.207-1.028c1.446.436 2.396 1.602 2.095 2.622zm10.744 1.193c.036 1.055-1.193 1.93-2.715 1.95c-1.53.034-2.769-.82-2.786-1.86c0-1.065 1.202-1.932 2.733-1.958c1.522-.03 2.768.818 2.768 1.868zm10.555-.405c.182 1.03-.875 2.088-2.387 2.37c-1.485.271-2.861-.365-3.05-1.386c-.184-1.056.893-2.114 2.376-2.387c1.514-.263 2.868.356 3.061 1.403z" fill="#161614"/><rect x="0" y="0" width="256" height="250" fill="rgba(0, 0, 0, 0)" /></svg></a>
          <a href="https://gitlab.com/mariacarolinass/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="2em" height="2em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 236"><path d="M128.075 236.075l47.104-144.97H80.97l47.104 144.97z" fill="#E24329"/><path d="M128.075 236.074L80.97 91.104H14.956l113.119 144.97z" fill="#FC6D26"/><path d="M14.956 91.104L.642 135.16a9.752 9.752 0 0 0 3.542 10.903l123.891 90.012l-113.12-144.97z" fill="#FCA326"/><path d="M14.956 91.105H80.97L52.601 3.79c-1.46-4.493-7.816-4.492-9.275 0l-28.37 87.315z" fill="#E24329"/><path d="M128.075 236.074l47.104-144.97h66.015l-113.12 144.97z" fill="#FC6D26"/><path d="M241.194 91.104l14.314 44.056a9.752 9.752 0 0 1-3.543 10.903l-123.89 90.012l113.119-144.97z" fill="#FCA326"/><path d="M241.194 91.105h-66.015l28.37-87.315c1.46-4.493 7.816-4.492 9.275 0l28.37 87.315z" fill="#E24329"/><rect x="0" y="0" width="256" height="236" fill="rgba(0, 0, 0, 0)" /></svg></a>
          <a href="https://t.me/carols0" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="2em" height="2em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256"><path d="M128 0C57.307 0 0 57.307 0 128s57.307 128 128 128s128-57.307 128-128S198.693 0 128 0z" fill="#40B3E0"/><path d="M190.283 73.63L167.42 188.899s-3.197 7.994-11.99 4.157l-52.758-40.448l-19.184-9.272l-32.294-10.872s-4.956-1.758-5.436-5.595c-.48-3.837 5.596-5.915 5.596-5.915l128.376-50.36s10.552-4.636 10.552 3.038" fill="#FFF"/><path d="M98.618 187.603s-1.54-.144-3.46-6.22c-1.917-6.075-11.67-38.049-11.67-38.049l77.538-49.24s4.477-2.718 4.317 0c0 0 .799.48-1.6 2.718c-2.397 2.239-60.91 54.836-60.91 54.836" fill="#D2E5F1"/><path d="M122.901 168.115l-20.867 19.026s-1.632 1.238-3.416.462l3.996-35.34" fill="#B5CFE4"/></svg></a>
          <a href="https://www.linkedin.com/in/maria-carolinass/ target="_blank""><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="2em" height="2em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zM349.3 793.7H230.6V411.9h118.7v381.8zm-59.3-434a68.8 68.8 0 1 1 68.8-68.8c-.1 38-30.9 68.8-68.8 68.8zm503.7 434H675.1V608c0-44.3-.8-101.2-61.7-101.2c-61.7 0-71.2 48.2-71.2 98v188.9H423.7V411.9h113.8v52.2h1.6c15.8-30 54.5-61.7 112.3-61.7c120.2 0 142.3 79.1 142.3 181.9v209.4z" fill="#626262"/></svg></a>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-md-2"></div><div class="col-md-2"></div>
    <div class="col-sm-6 col-md-4">
      <div style="width:350px; display: block; margin: 0 auto; border: 0; text-align: center">
        <figure><br>
          <img src="static/image/pedrobaesse.jpg" alt="Imagem de Pedro Baesse" style="width:50%; border-radius: 100px"><br><br>
          <figcaption>Pedro Baesse <br><br>
          <a href="https://github.com/pbaesse/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="2em" height="2em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 250"><path d="M128.001 0C57.317 0 0 57.307 0 128.001c0 56.554 36.676 104.535 87.535 121.46c6.397 1.185 8.746-2.777 8.746-6.158c0-3.052-.12-13.135-.174-23.83c-35.61 7.742-43.124-15.103-43.124-15.103c-5.823-14.795-14.213-18.73-14.213-18.73c-11.613-7.944.876-7.78.876-7.78c12.853.902 19.621 13.19 19.621 13.19c11.417 19.568 29.945 13.911 37.249 10.64c1.149-8.272 4.466-13.92 8.127-17.116c-28.431-3.236-58.318-14.212-58.318-63.258c0-13.975 5-25.394 13.188-34.358c-1.329-3.224-5.71-16.242 1.24-33.874c0 0 10.749-3.44 35.21 13.121c10.21-2.836 21.16-4.258 32.038-4.307c10.878.049 21.837 1.47 32.066 4.307c24.431-16.56 35.165-13.12 35.165-13.12c6.967 17.63 2.584 30.65 1.255 33.873c8.207 8.964 13.173 20.383 13.173 34.358c0 49.163-29.944 59.988-58.447 63.157c4.591 3.972 8.682 11.762 8.682 23.704c0 17.126-.148 30.91-.148 35.126c0 3.407 2.304 7.398 8.792 6.14C219.37 232.5 256 184.537 256 128.002C256 57.307 198.691 0 128.001 0zm-80.06 182.34c-.282.636-1.283.827-2.194.39c-.929-.417-1.45-1.284-1.15-1.922c.276-.655 1.279-.838 2.205-.399c.93.418 1.46 1.293 1.139 1.931zm6.296 5.618c-.61.566-1.804.303-2.614-.591c-.837-.892-.994-2.086-.375-2.66c.63-.566 1.787-.301 2.626.591c.838.903 1 2.088.363 2.66zm4.32 7.188c-.785.545-2.067.034-2.86-1.104c-.784-1.138-.784-2.503.017-3.05c.795-.547 2.058-.055 2.861 1.075c.782 1.157.782 2.522-.019 3.08zm7.304 8.325c-.701.774-2.196.566-3.29-.49c-1.119-1.032-1.43-2.496-.726-3.27c.71-.776 2.213-.558 3.315.49c1.11 1.03 1.45 2.505.701 3.27zm9.442 2.81c-.31 1.003-1.75 1.459-3.199 1.033c-1.448-.439-2.395-1.613-2.103-2.626c.301-1.01 1.747-1.484 3.207-1.028c1.446.436 2.396 1.602 2.095 2.622zm10.744 1.193c.036 1.055-1.193 1.93-2.715 1.95c-1.53.034-2.769-.82-2.786-1.86c0-1.065 1.202-1.932 2.733-1.958c1.522-.03 2.768.818 2.768 1.868zm10.555-.405c.182 1.03-.875 2.088-2.387 2.37c-1.485.271-2.861-.365-3.05-1.386c-.184-1.056.893-2.114 2.376-2.387c1.514-.263 2.868.356 3.061 1.403z" fill="#161614"/><rect x="0" y="0" width="256" height="250" fill="rgba(0, 0, 0, 0)" /></svg></a>
          <a href="https://gitlab.com/pbaesse/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="2em" height="2em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 236"><path d="M128.075 236.075l47.104-144.97H80.97l47.104 144.97z" fill="#E24329"/><path d="M128.075 236.074L80.97 91.104H14.956l113.119 144.97z" fill="#FC6D26"/><path d="M14.956 91.104L.642 135.16a9.752 9.752 0 0 0 3.542 10.903l123.891 90.012l-113.12-144.97z" fill="#FCA326"/><path d="M14.956 91.105H80.97L52.601 3.79c-1.46-4.493-7.816-4.492-9.275 0l-28.37 87.315z" fill="#E24329"/><path d="M128.075 236.074l47.104-144.97h66.015l-113.12 144.97z" fill="#FC6D26"/><path d="M241.194 91.104l14.314 44.056a9.752 9.752 0 0 1-3.543 10.903l-123.89 90.012l113.119-144.97z" fill="#FCA326"/><path d="M241.194 91.105h-66.015l28.37-87.315c1.46-4.493 7.816-4.492 9.275 0l28.37 87.315z" fill="#E24329"/><rect x="0" y="0" width="256" height="236" fill="rgba(0, 0, 0, 0)" /></svg></a>
          <a href="https://t.me/pbaesse" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="2em" height="2em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256"><path d="M128 0C57.307 0 0 57.307 0 128s57.307 128 128 128s128-57.307 128-128S198.693 0 128 0z" fill="#40B3E0"/><path d="M190.283 73.63L167.42 188.899s-3.197 7.994-11.99 4.157l-52.758-40.448l-19.184-9.272l-32.294-10.872s-4.956-1.758-5.436-5.595c-.48-3.837 5.596-5.915 5.596-5.915l128.376-50.36s10.552-4.636 10.552 3.038" fill="#FFF"/><path d="M98.618 187.603s-1.54-.144-3.46-6.22c-1.917-6.075-11.67-38.049-11.67-38.049l77.538-49.24s4.477-2.718 4.317 0c0 0 .799.48-1.6 2.718c-2.397 2.239-60.91 54.836-60.91 54.836" fill="#D2E5F1"/><path d="M122.901 168.115l-20.867 19.026s-1.632 1.238-3.416.462l3.996-35.34" fill="#B5CFE4"/></svg></a>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div><br><br><br>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/49zMjX-RZxA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div><br><br>
  <div class="row">
    <div class="col-md-12 text-justify"><br>
      <p>Existem iniciativas parecidas como o
        <a href="https://brasil.io/home/" id="color-red" target="_blank">Brasil.io</a>
        e o <a href="https://colaboradados.com.br/" id="color-red" target="_blank">Colaboradados</a>.
        Porém, alguns diferenciais do Dados Livres é a facilidade de cadastro.
        São os próprios usuários da plataforma que cadastram as fontes de dados
        abertos e as aplicações cívicas sem que haja necessidade de codificação.
        O Dados Livres facilita o trabalho de jornalistas, desenvolvedores e
        cidadãos ao simplificar a descoberta, a colaboração ou uso dos dados abertos.</p>
      <p>Outro diferencial significativo da plataforma, é inovar conectando fontes
        de dados abertos com as aplicações cívicas. Por exemplo, ao entrar em um
        perfil de uma aplicação cívica o usuário pode saber quais as fontes de
        dados abertos que foram utilizadas e vice-versa.</p>
      <p>Para incentivar também na construção da plataforma o projeto é
        software livre com o seu código fonte disponível no
        <a href="https://gitlab.com/pbaesse/dados-livres"
          id="color-red" target="_blank">GitLab</a> e licenciado sob
        <a href="https://gitlab.com/pbaesse/dados-livres/-/blob/master/LICENSE"
          id="color-red" target="_blank">Licença GNU GPLv3</a>. A página de
        <a href="{{ url_for('main.how_to_contribute') }}" id="color-red" target="_blank">
          como contribuir</a> detalha algumas possíveis formas de colaborar com a plataforma.</p>
      <p>Concluindo, é esperado que o Dados Livres possa criar um ambiente que facilite a
        participação da população no controle social e difusão de dados abertos
        para os mais diversos fins.</p><br>
      <p><b>Todos juntos pelo conhecimento livre e programação cívica!</b></p><br>
      <p><a href="https://youtu.be/NpRSPhvXuYY?t=1128" id="color-red" target="_blank">
      Saiba o que são dados abertos governamentais e a sua importância para a sociedade civil</a>.</p>
    </div>
  </div><br><br><br><br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-sm-6 col-md-4"><br>
      <div style="width:350px; display: block; margin: 0 auto; border: 0; text-align: center">
        <img src="static/image/Logo-Dados-Livres2.png" alt="Logo do Dados Livres" style="width:50%"><br><br>
      </div>
    </div><div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-sm-6 col-md-4"><br>
      <div style="width:350px; display: block; margin: 0 auto; border: 0; text-align: center">
        <img src="static/image/logo-ifrn-cm.png.png" alt="Logo do IFRN" style="width:50%"><br><br>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div><br><br>
  <div class="row">
    <div class="col-md-12 text-justify">
      <h3>Locais em que o Dados Livres participou</h3><br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Lugar</th>
            <th scope="col">Formato</th>
            <th scope="col">Ano</th>
            <th scope="col">Premiação</th>
            <th scope="col">Site Oficial</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Campus Party Natal 2</td>
            <td>Natal - Rio Grande do Norte (RN)</td>
            <td>Palestra (presencial)</td>
            <td>2019</td>
            <td>-</td>
            <td><a href="https://brasil.campus-party.org/" id="color-red" target="_blank">link da Campus Party</a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mostra de Ciência e Tecnologia da Zona Norte de Natal - MOCITECZN</td>
            <td>Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte (IFRN) - Campus Natal Zona Norte</td>
            <td>Exposição (presencial)</td>
            <td>2019</td>
            <td>3° lugar na área de ciências sociais e credenciamento para a
              Mostra Científica de Inovação, Tecnologia e Engenharia - MOCITEPIAL em Alagoas</td>
            <td><a href="https://doity.com.br/mociteczn" id="color-red" target="_blank">link da MOCITECZN</a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Primeiro encontro de computação do sertão - SertãoComp</td>
            <td>Instituto Federal de Educação, Ciência e Tecnologia da Paraíba (IFPB) - Campus Cajazeiras</td>
            <td>Apresentação de Artigo (online)</td>
            <td>2020</td>
            <td>Publicação no "Anais SertãoComp"</td>
            <td><a href="http://sertaocomp.info/" id="color-red" target="_blank">link do SertãoComp</a></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Sprint: Dados Livres - Python Brasil</td>
            <td>Brasil</td>
            <td>Reunião de pessoas (online)</td>
            <td>2020</td>
            <td>-</td>
            <td><a href="https://2020.pythonbrasil.org.br/" id="color-red" target="_blank">link da Python Brasil</a></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>8ª Mostra Tecnológica do IFRN</td>
            <td>Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte (IFRN)</td>
            <td>Exposição (online)</td>
            <td>2020</td>
            <td>Publicação do artigo pela Editora IFRN</td>
            <td><a href="https://eventos.ifrn.edu.br/8mostratecnologica/" id="color-red" target="_blank">link da Mostra Tecnológica</a></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Feira Brasileira de Ciências e Engenharia - FEBRACE</td>
            <td>Universidade de São Paulo (USP)</td>
            <td>Exposição (online)</td>
            <td>2021</td>
            <td>-</td>
            <td><a href="https://febrace.org.br/" id="color-red" target="_blank">link da FEBRACE</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-md-12">
      <h3>Pessoas que contribuiram de alguma forma em especial com o projeto</h3><br>
      <p>Atualizado manualmente.</p>
    </div>
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-8 col-md-8"><br><br>
      <div style="width:350px; display: block; margin: 0 auto; border: 0; text-align: center">
        <figure>
          <img src="{{ collaborating_user.avatar(100) }}" alt="foto do usuário"
            style="width:50%; border-radius: 100px">
          <figcaption><br>
            <p><a href="{{ url_for('main.user', nickname=nickname) }}fernando-ms"
              id="color-red">@fernando-ms</a></p>
            <p>Tipo de Contribuição: Código <br>
            Criou estrutura básica da API</p>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-2 col-md-2"></div>
  </div><br><br>
{% endblock %}
